@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  display: flex;
  /*background-color: white;*/
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, blue, rgb(214, 110, 255));
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
:root {
  --primary-color: rgb(29, 75, 228);
}

.title {
  color: white;
  font-family: "poppins";
  font-size: 22px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.tool_view {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: 80vw;
  height: 60vh;

  padding: 10px;
}

.tool_view > input {
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  width: 60%;

  font-family: "poppins";
  font-size: 24px;
  color: white;
  cursor: default;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  animation: move-text 0.75s forwards;
}

.tool_view > input:hover {
  border-width: 3px;
  transition: 0.07s ease-out;

  outline: none;
}

.tool_view > input:focus {
  border-width: 5px;
  transition: 0.07s ease-out;

  color: #000;
  background: #fff;
  outline: none;
}
